@tailwind base;
@tailwind components;
@tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 20 14.3% 4.1%;
      --card: 0 0% 100%;
      --card-foreground: 20 14.3% 4.1%;
      --popover: 0 0% 100%;
      --popover-foreground: 20 14.3% 4.1%;
      --primary: 24.6 95% 53.1%;
      --primary-foreground: 60 9.1% 97.8%;
      --secondary: 60 4.8% 95.9%;
      --secondary-foreground: 24 9.8% 10%;
      --muted: 60 4.8% 95.9%;
      --muted-foreground: 25 5.3% 44.7%;
      --accent: 60 4.8% 95.9%;
      --accent-foreground: 24 9.8% 10%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 60 9.1% 97.8%;
      --border: 20 5.9% 90%;
      --input: 20 5.9% 90%;
      --ring: 24.6 95% 53.1%;
      --radius: 0.5rem;
    }
   
    .dark {
      --background: 20 14.3% 4.1%;
      --foreground: 60 9.1% 97.8%;
      --card: 20 14.3% 4.1%;
      --card-foreground: 60 9.1% 97.8%;
      --popover: 20 14.3% 4.1%;
      --popover-foreground: 60 9.1% 97.8%;
      --primary: 20.5 90.2% 48.2%;
      --primary-foreground: 60 9.1% 97.8%;
      --secondary: 12 6.5% 15.1%;
      --secondary-foreground: 60 9.1% 97.8%;
      --muted: 12 6.5% 15.1%;
      --muted-foreground: 24 5.4% 63.9%;
      --accent: 12 6.5% 15.1%;
      --accent-foreground: 60 9.1% 97.8%;
      --destructive: 0 72.2% 50.6%;
      --destructive-foreground: 60 9.1% 97.8%;
      --border: 12 6.5% 15.1%;
      --input: 12 6.5% 15.1%;
      --ring: 20.5 90.2% 48.2%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }


body{
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus{
  outline: 0;
}

button{
  cursor: pointer;
} 

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

@media (max-width: 1080px) {
  html{
    font-size: 93.75%; 
  }
}

@media (max-width: 720px) {
  html{
    font-size: 87.5%;
  }
 
}


::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f0f0f0;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #FC5C04;
  border-radius: 6px;
}

.font-title {
  font-family: "Poppins", sans-serif;
}

.bg-decorator-home{
  background-image: url('./assets/decorators/square-grey.svg');
  width: 100%;
  height: 100vh;
}

.bg-hero{
  background-image: url('./assets/images/keepers.gif');
  width: 100%;
  height: 100vh;
  opacity: 0.3;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-integrador{
  background-image: url('./assets/images/card-integrador.png');
}

.mySwiper {
  max-width: 1440px;
  height: 380px;
}

@media only screen and (max-width: 767px) {
  .swiper {
    width: 300px;
    height: 320px;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    margin-top: -80px;
  }
}


.text-decorator {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke: 3px #FFC9AB;
  user-select: none;
  z-index: 0;
  pointer-events: none;
}


#root > main > section > div.relative.m-auto.block.overflow-hidden > div > div > div > section.m-auto.max-w-\[950px\].overflow-visible > div > div > div.swiper-slide.swiper-slide-active{
  transition: 1.5s all;
  transform: scale(1.1);
}

#root > main > section > div.overflow-hidden.relative > div > div > div.swiper.swiper-coverflow.swiper-3d.swiper-initialized.swiper-horizontal.swiper-watch-progress.mySwiper > div.swiper-wrapper > div.swiper-slide.swiper-slide-visible.swiper-slide-fully-visible.swiper-slide-active > div.swiper-slide-shadow-left.swiper-slide-shadow-coverflow{
  border-radius: 12px;
}

#root > main > section > div.overflow-hidden.relative > div > div > div.swiper.swiper-coverflow.swiper-3d.swiper-initialized.swiper-horizontal.swiper-watch-progress.mySwiper > div.swiper-wrapper > div > div.swiper-slide-shadow-right.swiper-slide-shadow-coverflow{
  border-radius: 12px;
}

#root > main > section > div.overflow-hidden.relative.block > div > div{
  display: block !important;
}

